:root {
    --main-text-color: rgb(0, 0, 0);
    --main-background-color: rgb(255, 255, 255);
    --main-notes-color: rgb(255, 232, 132);
    --main-box-shadow-color: rgb(211, 211, 211);
    --main-note-highlight-color: rgb(255, 226, 95);
}

html {
    box-sizing: border-box;
    font-size: 9pt;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    height: 100vh;
}

body {
    height: calc(100vh - 3rem);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: 1.5rem 1rem;
    margin: 0;
}

article,
li {
    cursor: pointer;
}

/* NAVIGATION STYLES */

header ul, 
footer ul,
#modal-header ul,
#modal-footer ul {
    margin: 0;
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header, #modal-header {
    margin-bottom: 1.5rem;
}

footer, #modal-footer {
    margin-top: 1.5rem;
}

#usernotes-viewer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    grid-auto-rows: 150px;
    gap: 1rem;
    overflow-y: scroll;
}

/* MODAL STYLES */

#modal {
    /* display: none; */
    grid-template-rows: max-content 1fr max-content;
}

.modal-closed {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 0;
    height: 0;
    padding: 1.5rem;
    background-color: var(--main-background-color);
    box-shadow: 0 0 2rem var(--main-box-shadow-color);
    opacity: 0;
    transition: width .5s, height .5s, opacity .5s;
}

.modal-open {
    width: calc(100% - 5rem) ;
    height: calc(100% - 5rem) ;
    opacity: 1 ;
}


textarea {
    border: 0;
    padding: 0;
    width: 100%;
    resize: none;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    outline: none;
    font-family: 'Roboto', sans-serif;
}


article {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    padding: 1rem;
    background-color: var(--main-notes-color);
    overflow-y: hidden;
    transform: scale(1);
    transition: transform .15s, background-color .15s;
}

.note-key {
    display: none;
}

.content-preview {
    overflow-y: hidden;
    width: 100%;
}

.dates p {
    opacity: .4;
    margin: 0;
}

article:active {
    transform: scale(.9);
    background-color: var(--main-note-highlight-color);
}

.article-active {
    transform: scale(1);
    background-color: var(--main-note-highlight-color);
}