/* ////////////////////////////////////////////////////////// */
/* GLOBAL STYLES //////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

:root {
    --main-text-color: rgb(0, 0, 0);
    --main-background-color: rgb(255, 255, 255);
    --main-notes-color: rgb(255, 232, 132);
    --main-box-shadow-color: rgb(211, 211, 211);
    --main-note-highlight-color: rgb(255, 226, 95);
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
header,
footer {
    padding: 0 1rem;
}
div {
    display: unset;
}
ul {
    padding-inline-start: 0;
    list-style-type: none;
}
body, 
ul,
p {
    margin: 0;
}
article,
select,
button,
li,
#file-picker label,
input[type=file]::file-selector-button {
    cursor: pointer;
}
select {
    border: 0;
    padding: 0;
}
select:focus-visible {
    outline: none;
}
select, 
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#new-note {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

/* ////////////////////////////////////////////////////////// */
/* INPUT FILE SELECTOR ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

#file-input {
    display: none;
}
#file-picker label {
    display: block;
    content: 'Choose File';
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: .5rem;
    color: var(--main-text-color);
    background-color: var(--main-notes-color);
    padding: .5rem;
    margin-bottom: 1rem;
}
#file-picker {
    margin-top: 1.5rem;
}
button {
    padding: .5rem;
    border: 0;
    border-radius: .5rem;
    background-color: var(--main-notes-color);
    color: var(--main-text-color);
}
button:disabled {
    opacity: .5;
}

/* ////////////////////////////////////////////////////////// */
/* COLOR APPLICATION //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.color-background {
    background-color: var(--main-background-color);
}
.color-text {
    color: var(--main-text-color);
    transition: all 1s;
}
.color-notes {
    background-color: var(--main-notes-color);
}

/* ////////////////////////////////////////////////////////// */
/* GRIDS / FLEX ///////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
    height: calc(100vh - 4rem);
    padding: 2rem 0;
}
.flex-flex { /* Changes flex-direction with media query */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
}
#usernotes-viewer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    grid-auto-rows: 150px;
    gap: 1rem;
    padding: 0 1rem;
    overflow-y: scroll;
}
#modal {
    grid-template-rows: max-content 1fr max-content;
}

/* ////////////////////////////////////////////////////////// */
/* ARTICLE STYLES /////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

article {
    padding: 1rem;
    border-radius: .5rem;
    transform: scale(1);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.25), 
                background-color .15s, opacity .5s, box-shadow .15s;
}
article::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background: 
        linear-gradient(transparent 20%, var(--main-notes-color) 65%),
        linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.25), transparent);
}
article:hover {
    z-index: 1;
    background-color: var(--main-note-highlight-color);
    box-shadow: 0 1rem 1rem var(--main-box-shadow-color);
}
.article-unroll {
    transform: scaleY(1);
}
.article-unselected {
    transform: scale(.85);
}
.article-selected {
    transform: scale(1);
    background-color: var(--main-note-highlight-color);
}
.wiggle {
    animation: .25s wiggle infinite;
    animation-delay: .5s;
}
@keyframes wiggle {
    0% { transform: rotate(-.5deg); }
    50% { transform: rotate(.5deg); }
    100% { transform: rotate(-.5deg); }
}
.content-preview {
    width: 100%;
    height: calc(100% - 1rem);
    overflow-y: hidden;
}

/* ////////////////////////////////////////////////////////// */
/* MODAL STYLES ///////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.modal-closed {
    position: absolute;
    padding: 1.5rem;
    background-color: var(--main-background-color);
    box-shadow: 0 0 2rem var(--main-box-shadow-color);
    opacity: 0;
    transform: scaleY(0);
    transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.25),
                opacity .75s, background-color 1s;
}
.modal-open {
    top: 2rem;
    left: 2rem;
    height: calc(100% - 7rem);
    width: calc(100% - 7rem) ;
    /* Transform scaleY to 1 handled by toggleMediaDisplay */
    opacity: 1;
    border-radius: 1rem;
    z-index: 2;
}
textarea {
    border: 0;
    padding: 0;
    width: 100%;
    resize: none;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    outline: none;
    font-family: 'Roboto', sans-serif;
}

/* ////////////////////////////////////////////////////////// */
/* XXXXXXXXXXXX ///////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.hidden {
    display: none;
}
.semi-transparent {
    opacity: .35;
}
.inline { /* Changes display type with media query */
    display: inline-block;
}

/* ////////////////////////////////////////////////////////// */
/* ENABLE JavaScript POPUP ////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

#enable-js-popup {
    position: absolute;
    margin: 0 25%;
    top: 30%;
    padding: 1rem 2rem 2rem;
    background: var(--main-notes-color);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

/* ////////////////////////////////////////////////////////// */
/* MEDIA QUERIES //////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

@media (min-width: 700px) {

    /* GRIDS / FLEX ///////////////////////////////////////// */

    body {
        grid-template-columns: 150px 1fr;
        column-gap: 0;
    }
    #usernotes-viewer,
    #modal {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: -1;
    }
    header, footer {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .flex-flex {
        flex-direction: column;
    }
    .dropdown {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inline {
        display: flex;
    }

    /* SIDEBAR/////////////////////////////////////////////// */

    header ul, #new-note, #sort {
        padding-bottom: 1.5rem;
        border-bottom: 5px solid var(--main-notes-color);
    }
    #select {
        margin-top: 2rem;
    }

    .modal-open {
        max-height: 550px;
    }
}